body { 
    background-image: url("../images/background.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Grenze', serif;
  }

    h1 {
        color: whitesmoke;
        font-size: 80px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
    }

#content {
    color: black;
    font-weight: bold;
}

button {
    color: whitesmoke;
    background-color: rgba(139, 0, 0, .6);
    border-color: whitesmoke;
    font-size: 30px
}

.timeframe:disabled {
    border-width: 2px
}

button:hover {
    background-color: rgba(139, 0, 0, 1);
}

button:disabled {
    background-color: rgba(220, 20, 60, .7)
}

button:disabled:hover {
    background-color: rgba(220, 20, 60, .6);
    color: whitesmoke
}

#start {
    border-width: 2px
}

#start:disabled {
    background-color: rgba(220, 20, 60, .7);
    border-width: 1px
}

#question, #response, #endMessage {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-shadow: -.7px -.7px 0 #000, .7px -.7px 0 #000, -.7px .7px 0 #000, .7px .7px 0 #000

}

#question {
    font-size: 22px
}

#time {
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: rgba(245, 245, 245, .3)
}

.event, #correct, #incorrect, #outOfTime {
    margin-top: 20px;
    background-color: rgba(245, 245, 245, .3);
    font-size: 30px;
}

#correct, #incorrect, #outOfTime {
    text-shadow: -.5px -.5px 0 whitesmoke, .5px -.5px 0 whitesmoke, -.5px .5px 0 whitesmoke, .5px .5px 0 whitesmoke
}

#endMessage {
    margin-top: 0px
}

#questionCounter {
    color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.timeframe {
    margin-right: 20px
}

.event:hover {
    background-color: rgba(139, 0, 0, .4);
    text-shadow: -.5px -.5px 0 whitesmoke, .5px -.5px 0 whitesmoke, -.5px .5px 0 whitesmoke, .5px .5px 0 whitesmoke
}

div[turnOff]:hover {
    margin-top: 20px;
    background-color: rgba(245, 245, 245, .3);
    font-size: 30px;
    text-shadow: none
}

div[thisOption], div[thisOption]:hover {
    background-color: rgba(139, 0, 0, .4);
    text-shadow: -.5px -.5px 0 whitesmoke, .5px -.5px 0 whitesmoke, -.5px .5px 0 whitesmoke, .5px .5px 0 whitesmoke
}

#outOfTime {
    margin-bottom: 30px
}